.additional-product {
  border-top: 1px solid #f2f2f2;
}

.additional-product:last-child {
  border-bottom: 1px solid #f2f2f2;
}

.additional-product__title {
  @include title-style-none;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
}

.additional-product__price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
}

.additional-product__link {
  min-width: 240px;
  height: 40px;
}


@media (min-width: $tablet-min-weight) {

  .additional-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 37px;
    padding-left: 37px;
  }

  .additional-product__link {
    width: 100%;
  }

  .additional-product__title {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-product__price {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-product__price p {
    margin-left: 50px;
  }
}
