.additional-product {
  border-top: 1px solid $background-greey-color;
}

.additional-product:last-child {
  border-bottom: 1px solid $background-greey-color;
}

.additional-product__title {
  @include title-style-none;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
}

.additional-product__price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
}

.additional-product__link {
  min-width: 240px;
  min-height: 40px;
}


@media (min-width: $tablet-min-weight) {
  .additional-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 36px;
    padding-left: 37px;
    border-right: 1px solid $background-greey-color;
    border-left: 1px solid $background-greey-color;
  }

  .additional-product__link {
    width: 100%;
  }

  .additional-product__title {
    font-size: 20px;
    line-height: 20px;
    max-width: 21%;
    color: $form-color-text;
  }

  .additional-product__price {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-product__price p {
    margin-left: 50px;
    margin-top: 4px;
    margin-bottom: 22px;
  }
}

@media (min-width: $desctop-min-weight) {
  .additional-product {
    border-right: none;
    border-left: none;
    padding-right: 0;
    padding-left: 0;
    align-items: center;
    padding-bottom: 15px;
  }

  .additional-product__price {
    margin-left: auto;
    margin-right: 4.3%;
    margin-top: 7px;
    min-width: 32%;
  }

  .additional-product__price p {
    margin: 0;
  }

  .additional-product__link {
    min-width: 245px;
    width: 25%;
  }
}

