.advantages__wrapper {
  padding-top: 6px;
  padding-bottom: 20px;
  max-width: 350px;
}

.advantages__title {
  @include title-style-none();
  font-size: 36px;
}

.advantages__list {
  @include list-style-none();
  margin-top: 40px;
  box-sizing: border-box;
}

.advantages__item {
  padding-left: 28.5%;
  margin-bottom: 26px;
  position: relative;
}

.advantages__item--leaf {
  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    top: -2px;
    left: 0;
    background-color: $background-green-color;
  }
}

.advantages__item--powder {
  &::after {
    content: "";
    position: absolute;
    background-image: url("../../img/advantage-powder@1x.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    top: -2px;
    left: 0;
    background-color: $background-green-color;
  }
}

.advantages__item--dining {
  &::after {
    content: "";
    position: absolute;
    background-image: url("../../img/advantage-dining@1x.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    top: -2px;
    left: 0;
    background-color: $background-green-color;
  }
}

.advantages__item--clock {
  &::after {
    content: "";
    position: absolute;
    background-image: url("../../img/advantage-clock@1x.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    top: -2px;
    left: 0;
    background-color: $background-green-color;
  }
}

.advantages__desc {
  font-family: "Arial", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-min-weight) {
  .advantages {
    position: relative;
  }

  .advantages__wrapper {
    padding-top: 16px;
    padding-bottom: 0;
    max-width: 1440px;
    border-bottom: 1px solid $background-greey-color;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 43px;
  }

  .advantages__item {
    width: 40%;
    box-sizing: border-box;
    padding-left: 0;
    padding-top: 125px;
    padding-bottom: 88px;
    margin-bottom: 0;

    &::before {
      content: attr(data-value);
      position: absolute;
      font-size: 280px;
      font-family: "Oswald", "Arial", sans-serif;
      color: #e8e8e8;
      z-index: -1;
      bottom: 26px;
      left: 50%;
      transform: translateX(-22%);
    }
  }

  .advantages__item--leaf {
    &::after {
      top: 29px;
      left: 0;
      width: 80px;
      height: 80px;
    }
  }

  .advantages__item--powder {
    &::after {
      top: 29px;
      left: 1px;
      width: 80px;
      height: 80px;
    }
  }

  .advantages__item--dining {
    &::after {
      top: 29px;
      left: 0;
      width: 80px;
      height: 80px;
    }
  }

  .advantages__item--clock {
    &::after {
      top: 29px;
      left: 1px;
      width: 80px;
      height: 80px;
    }
  }

  .advantages__item:nth-child(2n) {
    margin-left: 100px;
  }

  .advantages__desc {
    font-size: 16px;
    line-height: 24px;
    display: block;
    max-width: 245px;
  }
}

@media (min-width: $desctop-min-weight) {
  .advantages__wrapper {
    padding-top: 44px;
    padding-bottom: 0;
    border: none;
  }

  .advantages__list {
    justify-content: space-between;
    border: none;
  }

  .advantages__item {
    width: 20.1%;

    &::before {
      transform: translateX(-6%);
    }
  }

  .advantages__item:nth-child(2n) {
    margin-left: 0;
  }
}
