.cards {
  @include list-style-none();
}

.cards__item {
  box-sizing: border-box;
}

.cards__item:last-child {
  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100vw;
    background-color: #ededed;
    bottom: 0;
  }
}

@media (min-width: $tablet-min-weight) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cards__item:last-child {
    &::before {
      content: "";
      display: none;
    }
  }

  .cards__item {
    border-top: none;
    background: $background-greey-color;
  }
}

@media (min-width: $desctop-min-weight) {
  .cards {
    justify-content: flex-start;
  }
}
