.card {
  padding-top: 22px;
  padding-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card__img {
  width: 140px;
  height: 122px;
}

.card__wrapper-table {
  width: 100%;
}

.card__title {
  @include title-style-none();
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  width: 75px;
}

.card__table {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 9px;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
}

.card__rigth {
  text-align: right;
}

.card__link {
  min-width: 240px;
  height: 40px;
  width: 100%;
}

@media (min-width: $tablet-min-weight) {
  .card {
    width: 45.7%;
    margin-top: 138px;
    flex-direction: column;
    align-items: center;
    padding-top: 162px;
    padding-bottom: 40px;
    padding-right: 1;
    margin-bottom: 2px;
    padding-left: 5.4%;
    padding-right: 5.4%;
  }

  .card__wrapper {
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  .card__img {
    position: absolute;
    top: -118px;
    left: center;
  }

  .card__wrapper-table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-left: 38px;
    padding-right: 38px;
  }

  .card__title {
    width: 130px;
    text-align: center;
    font-size: 20px;
  }

  .card__table {
    font-size: 16px;
    line-height: 16px;
    margin-top: 26px;
  }

  .card__link {
    margin-top: 61px;
  }
}

@media (min-width: $desctop-min-weight) {

  .card {
    width: 20%;
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 6.6%;
  }

  .card:nth-child(4n) {
    margin-right: 0;
  }

  .card__link {
    min-width: 168px;
  }
}
