.card {
  padding-top: 23px;
  padding-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100vw;
    background-color: #ededed;
    top: 0;
  }
}

.card__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card__img {
  position: absolute;
  z-index: -1;
  top: 0;
}

.card__wrapper-table {
  width: 50%;
}

.card__title {
  @include title-style-none;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  width: 75px;
}

.card__table {
  font-family: "Arial", "Helvetica", sans-serif;
  margin-top: 12px;
  font-size: 12px;
  width: 100%;
}

.card__rigth {
  text-align: right;
  padding: 0;
}

.card__left {
  padding: 0;
}

.card__link {
  margin-top: 23px;
  min-width: 240px;
  min-height: 40px;
  width: 100%;
}

@media (min-width: $tablet-min-weight) {
  .card {
    width: 45.7%;
    margin-top: 137px;
    flex-direction: column;
    align-items: center;
    padding-top: 162px;
    padding-bottom: 40px;
    margin-bottom: 3px;
    padding-left: 5.3%;
    padding-right: 5.1%;

    &::after {
      content: "";
      display: none;
    }
  }

  .card__wrapper {
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
  }

  .card__img {
    position: absolute;
    top: -207px;
    z-index: 0;
    left: 49.5%;
    transform: translateX(-50%);
    width: 317px;
    height: 170px;
  }

  .card__img--big {
    height: 208px;
    top: -244px;
  }

  .card__wrapper-table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-left: 38px;
    padding-right: 38px;
    width: 100%;
  }

  .card__title {
    width: 130px;
    text-align: center;
    font-size: 20px;
  }

  .card__table {
    font-size: 16px;
    line-height: 16px;
    margin-top: 20px;
    border-collapse: collapse;
  }

  .card__rigth,
  .card__left {
    vertical-align: middle;
    padding-top: 8px;
    padding-bottom: 7px;
    border-bottom: 1px solid #cdcdcd;
  }

  .card__link {
    margin-top: 33px;
  }
}

@media (min-width: $desctop-min-weight) {
  .card {
    width: 20%;
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 6.65%;
    margin-top: 134px;
    margin-bottom: 8px;
  }

  .card__img {
    width: 242px;
  }

  .card:nth-child(4n) {
    margin-right: 0;
  }

  .card__rigth,
  .card__left {
    padding-top: 7px;
  }

  .card__wrapper {
    padding-top: 3px;
  }

  .card__table {
    margin-top: 19px;
    margin-bottom: 34px;
  }

  .card__link {
    margin: 0;
    margin-top: 1px;
    min-width: 100%;
  }
}
