.cards {
  @include list-style-none();
}

.cards__item {
  box-sizing: border-box;
  border-top: 1px solid #e6e6e6;
}


@media (min-width: $tablet-min-weight) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
  }

  .cards__item {
    min-width: 324px;
    width: 40%;
    margin-top: 20px;
  }

  .cards__item {
    border-top: none;
    background: linear-gradient(to bottom,#fff 0%,#fff 30%,#f2f2f2 30%)
  }

}
