.catalog__title {
  @include title-style-none;
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
}

@media (min-width: $tablet-min-weight) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
  }
}
