.contacts__desc {
  padding-top: 13px;
  padding-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__desc--catalog,
.contacts__desc--form {
  background-color: $background-greey-color;
}

.contacts__invitation {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  color: $additional-color-text;
}

.contacts__wrapper {
  margin-top: 15px;
  width: 140px;
  font-family: "Arial", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.contacts__adress,
.contacts__city {
  margin: 0;
  padding: 0;
}

.contacts__map {
  width: 100%;
  background-color: $background-greey-color;
  height: 365px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }
}


@media (min-width: $tablet-min-weight) {
  .contacts__desc {
    padding-top: 46px;
    padding-bottom: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__invitation {
    font-size: 20px;
    line-height: 25px;
    margin-left: 6%;
    width: 170px;
  }

  .contacts__wrapper {
    width: 160px;
    margin-right: 6%;
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__adress,
  .contacts__city {
    padding-bottom: 21px;
  }

  .contacts__map {
    width: 100%;
    height: 398px;
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }
}

@media (min-width: $desctop-min-weight) {
  .contacts {
    position: relative;
    text-align: left;
  }

  .contacts__desc {
    position: absolute;
    min-height: 200px;
    width: 39.5%;
    justify-content: space-between;
    background: #ffffff;
    top: 48.6%;
    transform: translateY(-50%);
    left: 7.5%;
    padding-left: 50px;
    padding-right: 56px;
  }

  .contacts__wrapper {
    text-align: left;
  }

  .contacts__map {
    height: 399px;
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }
}
