.extra {
  padding-top: 26px;
  box-sizing: border-box;
  padding-bottom: 35px;
}

.extra__title {
  @include title-style-none;
  font-weight: normal;
  margin-bottom: 31px;
}

.extra__list {
  @include list-style-none;
}

.extra__item {
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
}

.extra__gift {
  margin-top: 41px;
}

@media (min-width: $tablet-min-weight) {
  .extra {
    padding-top: 65px;
    box-sizing: border-box;
    padding-bottom: 76px;
    position: relative;
  }

  .extra__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 5.17%;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 55px;
      height: 3px;
      top: 21px;
      background-color: $background-green-color;
      left: -94px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 812px;
      height: 3px;
      top: 21px;
      left: 374px;
      background-color: $background-green-color;
    }
  }

  .extra__list {
    padding-top: 48px;
  }

  .extra__item {
    padding-top: 25px;
    padding-bottom: 27px;
  }

  .extra__gift {
    margin-top: 69px;
  }
}

@media (min-width: $desctop-min-weight) {
  .extra {
    padding-top: 69px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 87px;
  }

  .extra__list {
    width: 73.4%;
  }

  .extra__title {
    width: 100%;
    margin-left: 0;

    &::before {
      content: "";
      width: 69px;
      top: 20px;
      left: -109px;
    }

    &::after {
      content: "";
      width: 957px;
      top: 20px;
      left: 373px;
    }
  }

  .extra__gift {
    width: 20.1%;
    margin-top: 48px;
  }

  .extra__item {
    padding-top: 16px;
    padding-bottom: 9px;
  }
}
