.extra {
  padding-top: 33px;
  box-sizing: border-box;
}

.extra__title {
  @include title-style-none;
  font-weight: normal;
}

.extra__list {
  @include list-style-none;
}

.extra__item {
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 17px;
}

.extra__gift {
  margin-top: 39px;
}

@media (min-width: $tablet-min-weight) {
  .extra__title {
    font-size: 36px;
    line-height: 36px;
  }

  .extra__list {
    padding-top: 87px;
  }

  .extra__item {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}
