.form {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $form-color-text;
}

.form__date-cat {
  @include list-style-none;
  padding-top: 39px;
  padding-bottom: 10px;
}

.form__date-cat-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}


.form__date-cat-input {
  flex-grow: 1;
  padding: 12px;
  margin-left: 15px;
  border: 1px solid $background-greey-color;
  text-transform: uppercase;
}

.form__program {
  @include list-style-none;
  padding-top: 21px;
  padding-bottom: 2px;
  max-width: 400px;
}

.form__program-item {
  margin-bottom: 15px;
  padding-left: 16%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form__program-label {
  position: relative;
  cursor: pointer;
}

.form__program-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__program-input+.form__program-label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -45px;
  width: 30px;
  height: 30px;
  background-image: url("../img/radiobutton-form-off.png");
  background-repeat: no-repeat;
}

.form__program-input:checked+.form__program-label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 6px;
  left: -36px;
  background-image: url("../img/radiobutton-form-on.png");
  background-repeat: no-repeat;
}

.form__master {
  padding-top: 32px;
}

.form__master-title {
  @include title-style-none;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
}

.form__master-list {
  @include list-style-none;
  padding-top: 34px;
}

.form__master-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.form__master-item:last-child {
  margin-bottom: 0;
}

.form__master-input {
  flex-grow: 1;
  padding: 12px;
  margin-left: 10px;
  border: 1px solid $background-greey-color;
  text-transform: uppercase;
}


.form__comment {
  padding-top: 29px;
}

.form__comment-title {
  @include title-style-none;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
}

.form__comment-text {
  margin-top: 35px;
  width: 100%;
  height: 150px;
  padding: 13px;
  padding-top: 12px;
  box-sizing: border-box;
  resize: none;
  border: 1px solid $background-greey-color;

  &::placeholder {
    text-transform: uppercase;
  }
}

.form__extra {
  padding-top: 26px;
  padding-bottom: 32px;
}

.form__extra-title {
  @include title-style-none;
  text-transform: none;
  font-size: 24px;
  line-height: 24px;
}

.form__extra-list {
  @include list-style-none;
  padding-top: 31px;
}

.form__extra-item {
  margin-bottom: 4px;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.form__extra-item:last-child {
  margin-bottom: 0;
}

.form__extra-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__extra-input+.form__extra-label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../../img/checkbox-radio-on.png");
  background-repeat: no-repeat;
}

.form__extra-input:checked+.form__extra-label::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 5px;
  width: 21px;
  height: 16px;
  background-image: url("../../img/checkbox-radio-off.png");
  background-repeat: no-repeat;
}

.form__btn {
  min-width: 100%;
  border: none;
  min-height: 40px;
}

.form__notes {
  margin: 0;
  padding: 0;
  text-transform: none;
  font-family: "Arial", sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  padding-top: 21px;
  padding-bottom: 32px;
  color: $main-color-text;
}

.form__span {
  position: relative;
  margin-left: 24px;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    top: 7px;
    left: -19px;
    background-color: $additional-color-text;
    opacity: 0.5;
  }
}

.form__date-cat-label,
.form__master-label,
.form__comment-label,
.form__extra-label {
  cursor: pointer;
}

@media (min-width: $tablet-min-weight) {
  .form {
    font-size: 20px;
    line-height: 30px;
  }

  .form__date-cat {
    padding-top: 64px;
    padding-bottom: 54px;
    padding-right: 5.5%;
    padding-left: 5.8%;
  }

  .form__date-cat-item {
    margin-bottom: 19px;
  }

  .form__date-cat-input {
    padding: 14px;
    margin-left: 17px;
  }

  .form__program {
    padding-top: 23px;
    padding-bottom: 29px;
    border: 1px solid $background-greey-color;
    max-width: 89%;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .form__program-item {
    padding-left: 14%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 13px;
  }

  .form__program-item:last-child {
    margin-bottom: 0;
  }

  .form__program-input+.form__program-label::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -59px;
    width: 40px;
    height: 40px;
    background-image: url("../img/radiobutton-form-tablet-off.png");
    background-repeat: no-repeat;
  }

  .form__program-input:checked+.form__program-label::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 7px;
    left: -48px;
    background-image: url("../img/radiobutton-form-tablet-on.png");
    background-repeat: no-repeat;
  }

  .form__master {
    padding-top: 71px;
    padding-right: 5%;
    padding-left: 5.6%;
    padding-bottom: 35px;
  }

  .form__master-title {
    font-size: 36px;
    line-height: 36px;
  }

  .form__master-list {
    padding-top: 76px;
  }

  .form__master-item {
    margin-bottom: 19px;
  }

  .form__master-input {
    padding: 14px;
    margin-left: 17px;
  }

  .form__comment {
    padding-left: 5.6%;
    padding-right: 5.4%;
  }

  .form__comment-title {
    font-size: 36px;
    line-height: 36px;
  }

  .form__comment-text {
    margin-top: 76px;
    width: 100%;
    height: 174px;
    padding-left: 17px;
  }

  .form__extra {
    padding-top: 59px;
    padding-bottom: 28px;
  }

  .form__extra-title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 5.6%;
  }

  .form__extra-list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 5.5%;
    padding-right: 8%;
    padding-top: 51px;
  }

  .form__extra-item {
    width: 40%;
    box-sizing: border-box;
    padding-left: 60px;
    margin-bottom: 22px;
  }

  .form__extra-item:nth-child(2n) {
    margin-left: 16%;
  }

  .form__extra-input+.form__extra-label::before {
    content: "";
    top: 6px;
    left: 1px;
    width: 40px;
    height: 40px;
    background-image: url("../../img/checkbox-radio-tablet-off.png");
    background-repeat: no-repeat;
  }

  .form__extra-input:checked+.form__extra-label::after {
    content: "";
    top: 18px;
    left: 11px;
  }

  .form__wrapper-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding-left: 5.7%;
    padding-bottom: 71px;
  }

  .form__btn {
    min-width: 283px;
    min-height: 52px;
    font-size: 20px;
  }

  .form__notes {
    width: 48.4%;
    font-size: 16px;
    padding: 0;
    text-align: left;
  }
}

@media (min-width: $desctop-min-weight) {
  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 65px;
  }

  .form__date-cat {
    padding: 0;
    width: 46.8%;
  }

  .form__date-cat-item:last-child {
    margin-bottom: 0;
  }

  .form__program {
    max-width: 100%;
    width: 46.7%;
    margin: 0;
  }

  .form__program-item {
    padding-left: 15%;
  }

  .form__master {
    padding-top: 67px;
    padding-left: 0;
    padding-right: 0;
  }

  .form__master-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__master-item {
    width: 46.7%;
    margin-bottom: 0;
  }

  .form__comment {
    padding-top: 32px;
    padding-right: 0;
    padding-left: 0;
  }

  .form__extra {
    padding-top: 58px;
    padding-bottom: 57px;
  }

  .form__extra-title {
    padding-left: 0;
  }

  .form__extra-list {
    padding-left: 0;
    padding-right: 0;
  }

  .form__extra-item:nth-child(2n) {
    margin-left: 0;
  }

  .form__extra-item {
    width: 20%;
    margin-left: 0;
    margin-right: 6.6%;
    margin-bottom: 0;
  }

  .form__extra-item:nth-child(4n) {
    margin-right: 0;
  }

  .form__wrapper-btn {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 82px;
    justify-content: flex-start;
  }

  .form__btn {
    min-width: 46.6%;
    max-width: 60%;
  }

  .form__notes {
    width: 20%;
    margin-left: 6.7%;
  }

  .form__date-cat-input:hover,
  .form__master-input:hover {
    border: 1px solid #cdcdcd;
  }

  .form__date-cat-input:active,
  .form__date-cat-input:focus,
  .form__master-input:focus,
  .form__master-input:active {
    border: 1px solid $main-color-text;
    box-shadow: 0 0 0 1px $main-color-text;
    outline: none;
  }
}
