.header {
  font-family: "Oswald", "Arial", sans-serif;
  padding-top: 24px;
  position: relative;
  overflow: hidden;
}

.header--catalog {
  border-bottom: 1px solid #e6e6e6;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 25px;
  width: 110px;
}


@media (min-width: $tablet-min-weight) {
  .header {
    padding-top: 42px;
    padding-bottom: 45px;
  }

  .header--catalog {
    border: none;
  }

  .header__logo {
    margin-left: 75px;
    min-width: 103px;
    height: 25px;
  }

  .header-navigation__button {
    display: none;
  }
}

@media (min-width: $desctop-min-weight) {
  .header {
    padding-top: 72px;
    overflow: visible;
  }

  .header--main {
    &::before {
      content: "";
      top: 0;
      right: 0;
      width: 50%;
      height: 696px;
      background-color: #64a83b;
      background-image: url("../../img/index-background-desktop@1x.jpg");
      background-position-x: left;
      background-repeat: no-repeat;
      position: absolute;
      z-index: -1;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }
}
