.intro {
  color: #fff;
  font-family: "Oswald", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 22px;
}

.intro__wrapper {
  background-image: url("../img/intro-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #64a83b;
  min-height:305px;
}

.intro__wrapper-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.intro__title {
  @include title-style-none;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin-top: 28px;
}

.intro__desc {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  margin-top: 22px;
}

.intro__link {
  margin-top: 107px;
  min-width: 280px;
  height: 40px;
}
