.presentation {
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding-top: 35px;
  width: 100%;
}

.presentation__title {
  @include title-style-none();
  font-size: 36px;
  line-height: 60px;
  margin-left: 18px
}

.presentation__desc {
  font-family: "Arial", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-left: 18px;
  margin-top: 23px;
}

.presentation__result {
  margin-left: 20px;
}

.presentation__cost {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0 0 0;
}

.presentation__slider {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: $tablet-min-weight) {

  .presentation {
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 60%, #f2f2f2 60%);
    box-sizing: border-box;
    padding-top: 52px;
    width: 100%;
  }

  .presentation__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .presentation__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    width: 100%;
  }

  .presentation__desc {
    font-size: 16px;
    line-height: 24px;
    margin-top: 72px;
    margin-right: 18px;
    margin-left: 0px;
    width: 100%;
  }

  .presentation__result {
    margin: 0px;
    width: 50%;
  }

  .presentation__cost {
    width: 180px;
    font-size: 20px;
    margin: 0;
    padding-top: 26px;
    text-align: right;
  }
}
