.presentation {
  background-color: $background-greey-color;
  box-sizing: border-box;
  padding-top: 17px;
  z-index: -1;
}

.presentation__title {
  @include title-style-none();
  font-size: 36px;
  line-height: 60px;
}

.presentation__desc {
  font-family: "Arial", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-top: 23px;
  padding-right: 5px;
}

.presentation__result {
  margin-left: 20px;
}

.presentation__cost {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0 0 0;
  color: $additional-color-text;
}

.presentation__slider {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: $tablet-min-weight) {
  .presentation {
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 56.5%, $background-greey-color 56.5%);
    box-sizing: border-box;
    padding-top: 22px;
  }

  .presentation__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .presentation__wrapper-desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .presentation__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    width: 100%;
  }

  .presentation__desc {
    font-size: 16px;
    line-height: 24px;
    margin-top: 64px;
    margin-right: 18px;
    margin-left: 0;
    padding-right: 0;
  }

  .presentation__result {
    margin: 0;
    width: 50%;
  }

  .presentation__cost {
    width: 180px;
    font-size: 20px;
    line-height: 29px;
    margin: 0;
    padding-top: 44px;
    text-align: right;
  }

  .presentation__cost span {
    display: block;
    width: 100%;
  }

  .presentation__slider {
    width: 100%;
  }
}

@media (min-width: $desctop-min-weight) {
  .presentation {
    background: linear-gradient(to bottom, #ffffff 0px, #ffffff 156px, $background-greey-color 156px);
    padding-bottom: 69px;
  }

  .presentation__desc {
    margin-top: 24%;
    margin-right: 28%;
  }

  .presentation__wrapper-desc {
    width: 50%;
    flex-direction: column;
  }

  .presentation__slider {
    width: 50%;
  }

  .presentation__cost {
    padding-top: 49px;
    width: 100%;
    text-align-last: left;
  }

  .presentation__cost span {
    display: inline;
    padding-left: 63px;
  }

  .presentation__money {
    margin-left: 66px;
  }
}
