.prize {
  background-color: $background-green-color;
  min-height: 289px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-left: 20%;
  padding-bottom: 15%;
  padding-right: 20%;
  text-align: center;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.prize__svg {
  position: absolute;
  fill: #ffffff;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
}

.prize__desc {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  margin-top: auto;
}


@media (min-width: $tablet-min-weight) {
  .prize {
    min-height: 200px;
    text-align: left;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    padding-right: 17.5%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .prize__svg {
    left: 13%;
    transform: translateX(0);
  }

  .prize__desc {
    margin: 0;
    width: 28%;
    margin-top: 2px;
  }
}

@media (min-width: $desctop-min-weight) {
  .prize {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 38px;
    box-sizing: border-box;
    padding-right: 40px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .prize__svg {
    left: 50%;
    transform: translateX(-50%);
  }

  .prize__desc {
    text-align: center;
    margin-top: auto;
    width: 100%;
  }
}
