.site-list {
  @include list-style-none();
  font-size: 20px;
  line-height: 20px;
  display: none;
}

.site-list__item {
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.site-list__item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.site-list__link {
  padding-top: 10px;
  padding-bottom: 6px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

@media (min-width: $tablet-min-weight) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 505px;
    padding-left: 65px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
  }

  .site-list__link--active {
    &::before {
      content: "";
      position: absolute;
      width: 97%;
      height: 2px;
      background-color: #64a83b;
      top: 42px;
      left: 1px;
    }
  }

  .site-list__item {
    border: none;
    padding: 0;
  }

  .site-list__item:last-child {
    border-bottom: none;
  }

  .site-list__link {
    padding-right: 0;
  }
}


@media (min-width: $desctop-min-weight) {
  .site-list {
    padding-left: 0;
    min-width: 478px;
    font-size: 20px;
  }

  .site-list--index .site-list__link--active {
    &::before {
      top: 46px;
      background-color: #ffffff;
    }
  }

  .site-list__link--index {
    color: #ffffff;
  }
}
