.slider {
  min-height: 362px;
  max-width: 500px;
  box-sizing: border-box;
  padding-bottom: 35px;
  margin: 0 auto;
  position: relative;
}

.slider__slide {
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
}

.slider__slide--after {
  display: none;
}

.slider__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 70.8%;
  margin-top: auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 41%;
    height: 12px;
    left: 30%;
    top: 17%;
    background-color: #ffffff;
    box-shadow: 0 0 0 1px #cdcdcd;
    border-radius: 17%;
  }

  &::before {
    content: "";
    position: absolute;
    width: 17.5%;
    height: 6px;
    left: 32.5%;
    top: 28%;
    background-color: $background-green-color;
    border-radius: 17%;
    z-index: 1;
  }
}

.slider__input {
  width: 75px;
  background: transparent;
  border-color: transparent;
  -webkit-appearance: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
}

.slider__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: $tablet-min-weight) {
  .slider {
    min-height: 710px;
    width: 690px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 1440px;
    padding-bottom: 64px;
    margin: 0 auto;
  }

  .slider__slide {
    text-align: center;
    top: 88px;
    left: 7px;
    transform: translateX(0);
    overflow: hidden;
    padding-bottom: 109px;
  }

  .slider__slide--before,
  .slider__slide--after {
    width: 100%;
    display: block;
  }

  .slider__slide--before {
    z-index: 1;
    background: linear-gradient(to bottom,#ffffff 0,#ffffff 26.6%,#f2f2f2 26.6%);
  }

  .slider__slide--after {
    background: linear-gradient(to bottom,#ffffff 0,#ffffff 26.6%,#eaeaea 26.6%);
  }

  .slider__img--before,
  .slider__img--after {
    width: 690px;
    height: 515px;
    position: relative;
  }

  .slider__controls {
    min-width: 540px;
    padding-top: 23px;
    margin-left: 8.5%;
    margin-right: 8.7%;
    min-height: 50px;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      width: 75%;
      height: 6px;
      border-radius: 10%;
      background-color: #dcdcdc;
      top: 69%;
      left: 12.5%;
    }

    &::after {
      content: none;
    }
  }

  .slider__input {
    flex-grow: 1;
    margin-right: 3.5%;
    margin-left: 2.4%;
    margin-top: -1px;
    z-index: 1;
    height: 100%;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 11px solid #ffffff;
      background: $background-green-color;
      right: 10px;
      box-shadow: 0 0 0 1px #cdcdcd, 0 10px 16px 2px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 11px solid #ffffff;
      background: $background-green-color;
      box-shadow: 0 0 0 1px #cdcdcd, 0 10px 16px 2px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    &::-ms-thumb {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 11px solid #ffffff;
      background: $background-green-color;
      box-shadow: 0 0 0 1px #cdcdcd, 0 10px 16px 2px rgba(0, 0, 0, 0.2);
      left: 1px;
      cursor: pointer;
    }
  }

  .slider__text {
    font-size: 20px;
    z-index: 1;
  }
}

@media (min-width: $desctop-min-weight) {
  .slider {
    margin: 0;
    min-height: 0;
    height: 528px;
    width: 640px;
    padding-bottom: 0;
  }

  .slider__slide {
    top: -54px;
    left: 29px;
    height: 519px;
    background: transparent;
    padding-bottom: 131px;
  }

  .slider__slide--before {
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 29%, #f2f2f2 29%);
  }

  .slider__controls {
    margin: 0;
    padding-top: 18px;
    padding-left: 10.6%;

    &::before {
      content: "";
      width: 66.6%;
      top: 62%;
      left: 22%;
    }
  }

  .slider__input {
    margin-right: 1%;
    margin-left: 3%;
    margin-top: -3px;
    box-sizing: border-box;

    &:hover {
      &::-webkit-slider-thumb {
        box-shadow: 0 0 0 1px #cecece, 0 4px 6px 4px rgba(0, 0, 0, 0.3);
      }

      &::-moz-range-thumb {
        box-shadow: 0 0 0 1px #cecece, 0 4px 6px 4px rgba(0, 0, 0, 0.3);
      }

      &::-ms-thumb {
        box-shadow: 0 0 0 1px #cecece, 0 4px 6px 4px rgba(0, 0, 0, 0.3);
      }
    }

    &:active {
      &::-webkit-slider-thumb {
        box-shadow: 0 0 0 2px $background-green-color, 0 4px 6px 4px rgba(0, 0, 0, 0.4);
      }

      &::-moz-range-thumb {
        box-shadow: 0 0 0 2px $background-green-color, 0 4px 6px 4px rgba(0, 0, 0, 0.4);
      }

      &::-ms-thumb {
        box-shadow: 0 0 0 2px $background-green-color, 0 4px 6px 4px rgba(0, 0, 0, 0.4);
      }
    }
  }

  .slider__text {
    margin-bottom: 5px;
  }

  .slider__img {
    left: -39px;
  }
}
