.warehouse {
  padding-top: 79px;
}

.warehouse__wrapp {
  width: 100%;
}

.warehouse__title {
  @include title-style-none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
}

.warehouse-desc {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 21px;
}

.warehouse__link {
  margin-top: auto;
  text-align: center;
  color: #000000;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 100%;
}

@media (min-width: $tablet-min-weight) {
  .warehouse {
    flex-direction: row;
    align-items: stretch;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    padding-top: 23%;
  }

  .warehouse__wrapp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .warehouse__title {
    font-size: 20px;
    line-height: 20px;
    width: 65%;
  }

  .warehouse-desc {
    margin-top: 28px;
    font-size: 16px;
    width: 70%;
  }
}

@media (min-width: $desctop-min-weight) {
  .warehouse {
    padding-top: 13.4%;
  }

  .warehouse__title {
    width: 100%;
  }

  .warehouse-desc {
    width: 100%;
  }
}
