.warehouse {
  padding-top: 79px;
}

.warehouse__wrapp {
  width: 100%;
}

.warehouse__title {
  @include title-style-none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
}

.warehouse-desc {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 21px;
}

.warehouse__link {
  text-align: center;
  color: #000;
  padding-top: 11px;
  padding-bottom: 10px;
  width: 100%;
}

@media (min-width: $tablet-min-weight) {
  .warehouse {
    background: #ffffff;
    border: 1px solid #f2f2f2;
  }

  .warehouse__wrapp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .warehouse__title {
    font-size: 20px;
    line-height: 20px;
  }

  .warehouse-desc {
    font-size: 16px;
  }
}
