.warehouse {
  padding-top: 79px;
  padding-bottom: 26px;
  position: relative;
}

.warehouse__svg {
  position: absolute;
  fill: #d3d3d3;
  top: 26px;
}

.warehouse__svg--tablet {
  display: none;
}

.warehouse__wrapp {
  width: 100%;
}

.warehouse__title {
  @include title-style-none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
}

.warehouse-desc {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 21px;
}

.warehouse__link {
  margin-top: auto;
  text-align: center;
  color: $additional-color-text;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 100%;
}

@media (min-width: $tablet-min-weight) {
  .warehouse {
    flex-direction: row;
    align-items: stretch;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    padding-top: 162px;
    padding-bottom: 37px;
  }

  .warehouse__svg {
    top: 55px;
  }

  .warehouse__svg--tablet {
    display: block;
  }

  .warehouse__svg--mobile {
    display: none;
  }

  .warehouse__wrapp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .warehouse__title {
    font-size: 20px;
    line-height: 20px;
    width: 65%;
  }

  .warehouse-desc {
    margin-top: 28px;
    font-size: 16px;
    width: 70%;
  }
}

@media (min-width: $desctop-min-weight) {
  .warehouse {
    padding-top: 162px;
  }

  .warehouse__title {
    width: 100%;
  }

  .warehouse-desc {
    width: 100%;
  }
}
