.btn {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

.btn--green {
  color: #ffffff;
  background-color: $background-green-color;
  transition: 0.5s;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.btn--grey {
  background-color: $background-greey-color;
  transition: 0.5s;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(27%, 27%, 27%, 0.3);
  }
}

.btn--transparent {
  color: $additional-color-text;
  background-color: transparent;
  position: relative;
  max-width: 200px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/right-arrow-long.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 11px;
    left: 97px;
    top: 54%;
    transform: translateY(-64%);
  }

  &:hover {
    &::before {
      content: "";
      width: 33px;
      height: 11px;
      background-image: url("../img/right-arrow-verylong.png");
      transition: 0.5s;
    }
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: $tablet-min-weight) {
  .btn {
    font-size: 16px;
  }

  .btn--transparent {
    &::before {
      left: 131px;
      top: 50%;
    }
  }

  .btn--set {
    &::before {
      content: "";
      left: 125px;
      top: 52%;
      transform: translateY(-64%);
    }
  }
}
